@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #F2F2F2;
  }

  .header__top{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    position: relative;
    min-height: 70px;
    border: none;
    align-items: center;
}
  a:hover{
      background-color: #337ab7;
      height: 20%;
  }

  .center__icons{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
  }
  /**header end here**/

  /**main start here**/
  .box{
    margin: 0 auto;
    width: 90%;
}

.top__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 70px;
    background-color: white;
}

.color{
    background-color:#FFFFFF;
}


img{
    display: block;
    max-width: 100%;
    
}
.aside__link{
    text-decoration: none;

}

/**top main end here**/

/**top heading on main start here**/
.heading{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 55px auto 0;
    max-width: 800px;
    text-align: center;
    font-family: 'Sora', sans-serif;
}
/**top heading on main end here**/






